.toggle {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  margin-left: 20%;
  cursor: pointer;

  /* background: linear-gradient(90deg, #4b6cb7, white); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--crimson);
}

.t-button {
  border-radius: 100%;
  background:red;
  position: absolute;
  transition: transform 0.3s ease;
}

.toggle:hover {
  /* background: linear-gradient(90deg, #182848, #4b6cb7); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.t-button:hover {
  transform: scale(1.2);
}
